services:
  ghga_service_commons:
    build:
      context: .
      dockerfile: ./Dockerfile

    init: true

    # Makes testcontainers work on linux based hosts
    extra_hosts:
      - host.docker.internal:host-gateway

    volumes:
      - ..:/workspace:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Uncomment the next line to use a non-root user for all processes.
    user: vscode
