[project]
name = "ghga_service_commons"
version = "7.0.0"
description = "A library that contains common functionality used in services of GHGA"
readme = "README.md"
authors = [
    { name = "German Human Genome Phenome Archive (GHGA)", email = "contact@ghga.de" },
]
dependencies = ["pydantic >=2, <3"]

[project.optional-dependencies]
api = [
    "fastapi>=0.128, <1",
    "uvicorn[standard]>=0.40, <1",
    "ghga-service-commons[http,objectstorage]",
]
http = ["httpx>=0.28, <0.29"]
auth = ["jwcrypto>=1.5.6, <2", "pydantic[email]>=2, <3"]
crypt = ["pynacl>=1.6.2, <2", "crypt4gh>=1.7, <2"]
dev = ["requests>=2.32, <3"]
objectstorage = ["hexkit>=7.3"]
transports = [
    "hishel>=1.1.8, <2",
    "tenacity >=9.1.2, <10",
    "ghga-service-commons[http]",
]

all = ["ghga-service-commons[api,auth,crypt,dev,http,objectstorage,transports]"]

[project.license]
text = "Apache 2.0"

[project.urls]
Repository = "https://github.com/ghga-de/ghga-service-commons"

[tool.tox]
legacy_tox_ini = """
    [tox]
    env_list = py3{10,11,12,13}

    [gh-actions]
    python =
        3.10: py310
        3.11: py311
        3.12: py312
        3.13: py313

    [testenv]
    pass_env =
        TC_HOST
        DOCKER_HOST
    deps =
        --no-deps -r ./lock/requirements-dev.txt
    commands =
        py310: pip install --no-deps \
          backports.asyncio.runner==1.2.0 \
          exceptiongroup==1.3.0
        pytest {posargs}
"""
